/* ===== GENERAL STYLES ===== */
* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  body {
    margin: 0;
    background-color: #f6f7fb;
    color: #333;
  }
  
  header {
    background-color: #2e8b57;
    color: white;
    padding: 20px;
    text-align: center
  }

  .profile-container {
    width: 90%;
    max-width: 500px;
    margin: 30px auto;
    background: white;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    padding: 20px;
    text-align: center
  }

  img {
  border-radius: 50%;
}
  
  /* ===== CONTAINER ===== */
  .container {
    width: 90%;
    max-width: 500px;
    height: 850px;
    margin: 30px auto;
    background: white;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    padding: 20px;
  }
  
  /* ===== BALANCE ===== */
  .balance {
    text-align: center;
    margin-bottom: 30px;
  }
  
  #balance-amount {
    font-size: 2em;
    font-weight: bold;
    color: #2e8b57;
  }
  
  /* ===== FORM ===== */
  .transaction-form h2 {
    border-bottom: 2px solid #eee;
    padding-bottom: 5px;
  }
  
  .transaction-form form {
    flex-direction: column;
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
  
  .transaction-form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
  }
  
  .transaction-form button {
    background-color: #2e8b57;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .transaction-form button:hover {
    background-color: #256b43;
  }
  
  /* ===== TRANSACTION HISTORY ===== */
  .transaction-history h2 {
    border-bottom: 2px solid #eee;
    padding-bottom: 5px;
    margin-top: 30px;
  }
  
  .transaction-history ul {
    list-style: none;
    padding: 0;
  }
  
  .transaction-history li {
    background: #f1f1f1;
    margin: 8px 0;
    padding: 10px;
    border-left: 5px solid;
    border-radius: 4px;
  }
  
  .transaction-history li.income {
    border-color: #2e8b57;
    color: #2e8b57;
  }

  .transaction-history li.expense {
    border-color: #c0392b;
    color: #c0392b;
  }

  .consult-calender {
    width: 90%;
    max-width: 500px;
    margin: 30px auto;
    background: white;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    padding: 20px;
    text-align: center
  }

  .consult-calender button {
    background-color: #2e8b57;
    color: white;
    border-bottom: 2px solid #eee;
    padding-bottom: 5px;
    margin-top: 30px;
    margin: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    width: 450px;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s ease;
  } 
  /* ===== FOOTER ===== */
  footer {
    text-align: center;
    color: white;
    padding-top: 20px;
    font-size: 0.9em;
    background-color: #2e8b57;
    height: 100px;
  }
  